.makeroi-widget {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    .scroll::-webkit-scrollbar{
        background-color: #f8f8f8;
        width: 0.5rem;
        height: 0.5rem;
    }

    .scroll::-webkit-scrollbar-track{
    }

    .scroll::-webkit-scrollbar-thumb{
        background-color: #e8e8e8;
        border-radius: 0.5rem;
    }

}
